.Marketplace-Container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .filterContainer {
    display: none;
    @media (min-width: 768px) {
      display: block;
      flex: 1;
    }
  }
  .MarketplaceContainer {
    flex: 4;
    button {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      @media (min-width: 768px) {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
      }
    }
  }
}
