@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // color: #292929;
}

body {
  color: #292929;
}

a {
  text-decoration: none;
  color: #292929;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

.icons {
  font-size: 2rem;
  @media (max-width: 540px) {
    font-size: 1.3rem;
  }
}
.avatarImgs {
  @media (max-width: 1024px) {
    width: 40%;
  }
}
.Rule {
  width: 50%;
  color: #ffffff;
  margin-inline: 1rem;
}

.mainContainer {
  margin-top: 7rem;
}

::-webkit-scrollbar {
  width: 0px;
}

.slider-Container {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  width: 100%;
  cursor: grab;
  padding: 20px 0;
  .card {
    flex-shrink: 0;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card3 {
    align-self: flex-start;
    margin-bottom: 4rem;
  }
}
.link2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  @media (max-width: 540px) {
    font-size: 2rem;
  }
  @media (max-width: 450px) {
    font-size: 1.5rem;
  }
}
.icon2 {
  color: #4693ed;
  font-size: 3rem;
  @media (max-width: 450px) {
    font-size: 2rem;
  }
}
.ic3 {
  margin-left: 9rem;
  @media (max-width: 450px) {
    margin-left: 6rem;
  }
}
.border1 {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}
.border2 {
  border-bottom: 1px solid #333333;
}

@import "./components/navbar/navbar.scss";
@import "/src/styles/Homepage.scss";
@import "/src/styles/marketplace.scss";
@import "/src/styles/drop.scss";
@import "/src/styles/auction.scss";
